@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@theme {
  --animate-fade-in: fadeIn 0.2s ease-in forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    90% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

body {
  font-family: 'JetBrains Mono Variable', monospace;
  @apply text-black bg-linear-to-tr from-neutral-100 to-neutral-200 min-h-dvh;
}

.btn {
  @apply px-4 py-2 rounded-md;
}

.btn--primary {
  @apply text-white bg-linear-to-tr from-purple-600 to-violet-600 active:from-purple-700 active:to-violet-700;
}

.btn--secondary {
  @apply bg-linear-to-tr from-purple-300 to-violet-300 active:from-purple-400 active:to-violet-400;
}
